/* Start Global Rules  */
*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #efefef;

}
:root{
    --main-color:#ff9045;
}
body{
    
    font-family: 'Work Sans', sans-serif;
}
a{
    text-decoration: none;
}
/* End Global Rules */

.container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* smaal */
@media (min-width : 768px) {
    .container{
        width: 750px;
    }

    header .container .article1{
        width: 50%;
    }
}
/* Meduim */
@media (min-width : 992px ) {
    .container{
        width: 970px;
    }
    header .container .article1{
        width: 50%;
    }
}
/* large */
@media (min-width : 1200px) {
    .container{
        width: 1170px;
    }
    header .container .article1{
        width: 50%;
    }
}

header {

    background-image: url(../images/covert.png);
    max-height:calc(100vh -40px) ;
    background-size:cover; 
    background-position: center;
}
header .container nav{
    display: flex;
    justify-content: space-between;
    align-items: center ;
}
header .container .logo{
    width: 100px ;
}
header .container ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    border-bottom: rgb(61, 60, 60) solid 2px;
}

header .container li{
    font-size: large;
    font-weight: bold;
    letter-spacing: 2px;
    font-variant: small-caps;   
    padding: 10px;
    cursor: pointer;

}
header .container li a {
    margin: 10px;
    text-align: center;
    transition: all .55s ease;
    

}

header .container li:hover{
    border-bottom:2px solid var(--main-color) ;
}
header .container .article1{
    text-transform: capitalize ;
}
header .container .article1 h1{
    padding: 20px 20px 10px;
    line-height: 60px;
    font-size: 45px;
    text-align: start;
}
header .container .article1 span{
    color: var(--main-color); 
    font-weight: bold;
    text-transform: uppercase;    
}
header .container .article1 p{
    padding-left: 20px;
    max-height: 100px;
}
/* strat sign up  */
.contentlogin{
position: absolute;
top: 25%;
left: 40%;
right: 40%;
display: none;

}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 300px;
    height: 340px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    overflow: hidden;
}
.wrapper .signup{
    width: 100%;
    padding: 40px;
}
.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background-color: var(--main-color);
    font-size:1.2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}
.signup h1{
    font-size: 2em;
    text-align: center;
}
.input-box{
    position : relative ;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #fff;
    margin: 30px 0;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    font-weight: 500;
    pointer-events:  none;
    transition: .5s;
}
.input-box input:focus~label ,
.input-box input:valid~label{
    top: -5px;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #efefef;
    font-weight: 600;
    padding: 0 35px 0 5px;
}
.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color:  var(--main-color);
    line-height: 57px;
}
.btn{
    width: 100%;
    height: 40px;
    background-color: var(--main-color) ;
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;

}
/* endsignup */
header .container .article1 .singup{
    margin-left: 20px;
    padding: 50px 0;
}
header .container .article1 .singup span{
    padding: 15px 50px;
    display: inline-block;
    color: #efefef;
    background-color:var(--main-color);
    font-weight: 700;
    border-radius: 50px;
    cursor: pointer;
    transition: all .55s ease;
}
header .container .article1 .singup span:hover{
    background-color: #efefef;
    color: #ff9045;
}
/* end header */
.contact{
    position: relative;
    top: -28px;
    background-color: var(--main-color);
    max-width: 150px;

}
.contact .conticones {

    padding: 15px ;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
.contact .conticones i{
    transition: 0.5s;
    cursor: pointer;

}
.contact .conticones i:hover{
    transform: scale(1.3);

}
/* start main */
main{
    background-color: #24272e;
    max-height:660px ;
    min-height:660px;
}
main .container .article1{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
main .container .article1 img{
    width: 40%;
    max-height: 500px;
    padding-top: 100px;
    

}
main .container .article1 .steps{
    padding-top: 70px;
}
main .container .article1 .steps h1{
    text-transform: capitalize ;
    margin: 0 40px 30px ;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px ;

}
main .container .article1 .firsttitle{
    margin-left:40px ;
}
main .container .article1 li{
    margin: 20px 5px ;
    list-style: none;
    font-weight: 600;
    letter-spacing: 1px ;
    color: #aeb1b8;
}



/* end main */
/* start  section */
section{
    min-height: 600px;
    max-height:600px ;
    background-color: #191a1f;
}
section .container{
    display: flex;
    justify-content: space-between;

}
section .secendpartie{
    width:46% ; 
}
section .secendpartie .formulaire{
    padding: 95px 40px 95px 10px;
}
.firsttitle{
    color: var(--main-color);
    font-variant: small-caps; 
    font-weight: bolder;
    margin-bottom: 0;
    letter-spacing: 5px ;

}
section .secendpartie .formulaire h1 {
    text-transform: capitalize ;
    margin-top: 0;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 1px ;
}
.inform{
    display: flex;
    justify-content: space-between;
}
.inform span{
    margin: 0;
    font-size: 11px;
    color: red;
    text-transform: capitalize ; 
    padding: 0;
}
.inform .formleft{
    width: 48%;
}
.inform .formright{
    width: 48%;
}
section .secendpartie .formulaire label{
    font-variant: small-caps; 
    font-weight: bold;
    font-size: 20px;
}

section .secendpartie .formulaire  .notsex input , .formright input ,.formright select{
    width: 100%;
    height: 30px;
    margin: 15px 0  0;
    padding-left: 10px;
    background-color: #191a1f;
    border: 1px solid #9a9ba0;
}

section .secendpartie .formulaire .sex input{
    margin: 15px 5px ;
    cursor: pointer;
    
}

section .secendimg{
    width: 54%;
    padding-top:95px ;
}
section .secendimg img {
    width: 100%;
    max-height:450px ;
}
.formulaire form .finaal{
    display: flex;
    justify-content: space-between;
}
.formulaire form .finaal button{
    width: 40%;
    max-height: 50px;
    padding: 15px 30px;
    background-color:var(--main-color);
    font-weight: 700;
    border: none;
    transition: all .55s ease;
    cursor: pointer;
}
form .finaal div.resultas {
    width: 50%;
    max-height: 50px;
    padding: 15px 30px;
    font-size: 15px;
    background-color: #efefef;
    font-weight: 800;
    color: #191a1f;
    border: none;
}


/* end section */
#loader{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.loadercont{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000d5;
}
/* start footer  */
footer{
    background-color:#24272e ;
    min-height: 320px;
    max-height: 320px;

}
footer .container{
    display: flex;
    justify-content: space-between;
}
footer div{

    max-height: 200px;
}
    

footer .leftfooter{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

    
    
}

footer h1{
    margin-top: 0;
    color: var(--main-color);
    font-size: 30px; 
    font-weight: bold;
    text-transform: uppercase;    
    
}
.leftfooter .conticones{
    width: 100%;
    display: flex;
    font-size: 25px;
    justify-content: space-around;
    
}
.leftfooter .conticones i{
    cursor: pointer;
}
.rightfooter , .leftfooter ,.centerfooter{
    width: 30%;
    padding: 40px 0;
}
.centerfooter .box1{
    display: flex;
    justify-content: space-between;
    margin-top: 0;
}
.centerfooter .box1 .lefticoncenter {
    display: flex;
    flex-direction: column;
    padding: auto;
    margin-top:0;
    width: 10%;
}
.centerfooter .box1 .lefticoncenter i{
    margin-bottom: 20px;
}
.centerfooter .box1 .contanticonfooter{
    padding: 0 ;
    width: 90%;
    margin-top: -20px;

}
.rightfooter h3 {
    margin-top: 0;
    color: var(--main-color);
    font-size: 20px; 
    font-weight: bold;
}
.rightfooter i{
    margin: 15px 0;
    font-size: x-large;
}
.rightfooter .like{
    display: flex;
    padding-left: 0;
    
}

.rightfooter input{
    margin-left: 0 ;
    width: 50px;
    border: none;
    background: none;
    color: #9a9ba0;
    font-size: 20px;
    pointer-events: none;
}
.rightfooter .like button{
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
}
.rightfooter button:active{
    color: #ff9045;
    transform: scale(1.2);
}

.liknsfooter{
    background-color: var(--main-color);

}
.liknsfooter ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 75%;
    padding: 16px;
    margin-left: auto;
    margin-right: auto;
    
} 
.liknsfooter li a{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    font-variant: small-caps;   
    transition: all .55s ease;
} 
.liknsfooter li a:hover{
    letter-spacing: 3px;
} 
.copyright{
    color: #efefef;
    padding: 0 15px;
    text-align: center;
    font-size:18px ;
}
.copyright span{
    font-weight: bold;
    color: var(--main-color);
}






/* start media  */
@media (max-width : 821px) {
    header .container ul{
        display: none;
    }
    header .container .logo{
        width: 70px;
        margin: auto;
    }
    header .container .article1 h1{
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        text-align: center;
        line-height: 20px;
        font-size: 20px;

    }
    header .container .article1 p{
        text-align: center;
        font-size: small;
        margin-top: 0px;
        padding-top: 0;
        padding-left: 20px;
        max-height: 40px;
    }
    /* end nav  */
    header .container .article1 .singup{
        padding: 15px 0 ;
        text-align: center;
        
    }
    header .container .article1 .singup a{
        
        padding: 10px 20px;
        font-weight: 400;
        border-radius: 30px;
    }
    .contentlogin{
        top: 10%;
        left: 13%;
    }
    .contact{
        max-width: 100px;
    }
    .contact .conticones {
        font-size: 15px;
    }
    main{
        max-height:750px ;
    }

    main .container .article1 img{
        display: none;
    }
    main .container .article1 .steps{
        padding-top: 0;
    }
    main .container .article1 .steps h1{
        margin: 0 40px 10px ;
        font-size: 20px;
        font-weight: 600;
    
    }
    main .container .article1 li{
        margin: 0 0 5px ;
        font-weight: 400;
    }
    section {
        min-height: 700px;
    }
    section .container{
        display: flex;
        flex-direction: column;
        
    
    }
    section .secendpartie{
        width: 100%;
    }
    .firsttitle{
        font-size: 15px;
    }
    section .secendpartie .formulaire{
        padding: 30px 5px;
    }
    section .secendpartie .formulaire label{
        font-variant: small-caps; 
        font-weight: 600;
        font-size: 15px;
    }
    section .secendpartie .formulaire h1 {
        margin-top: 0;
        font-size: 25px;

    }
    

    section .container .secendimg{
        padding: 0;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .formulaire form .finaal input{

        padding: 15px ;
    }

    footer div{
        max-height: 150px;
    }
    footer h1 , .leftfooter .conticones ,.centerfooter .box1 .lefticoncenter{
        font-size: 10px;
    }
    .contanticonfooter h5{
        
        font-size: 10px;
        padding-top: 2px;
    }

    .rightfooter h3{
        font-size: 8px;
    }
    .rightfooter input{

        width: 30px;
        margin-left: 5px;
        font-size: 15px;

    }
    .rightfooter .like button{

        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        font-size: 15px;

    }

    .rightfooter i{
        font-size: 10px;
    }
    .rightfooter input{
        width: 30px;
        font-size: 10px;
    }

    .liknsfooter ul{
        padding: 10px ;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    } 

    .liknsfooter li a{
        font-size: 10px;
    } 
    .copyright{
        padding-top: 5px;
        font-size:10px ;
    }

}
/* end footer */